.header {
  font-size: 4em;
  text-align: center;
  background-color: gray;
  color: white;
}

.content {
  font-family: "Courier New", Courier, monospace;
  margin: 2em;
}

.footer {
  text-align: center;
}
